/* Custom styles */

/* Imported font */
.fredericka-the-great-regular {
  font-family: "Fredericka the Great", serif;
  font-weight: 400;
  font-style: normal;
}

/* Header */
.bg-primary {
    background-color: rgb(128, 0, 128) !important;
}

/* Navbar */
.bg-body-tertiary {
    background-color: aliceblue !important;
}

.navbar {
    --bs-navbar-color: indigo;   
    --bs-navbar-hover-color: #BC13FE;
    --bs-navbar-active-color: indigo ;
}

.nav-link.active::after {
    content: '\1F43E';
}

.dropdown-item.active::after {
    content: '\1F43E';
}



/* Card */
.text-bg-primary {
    background-color: aliceblue !important;
    color: indigo !important;
    border: none;
    box-shadow: 4px 2px 10px grey;
}

.btn-primary {
    background-color: purple;
    color: aliceblue;
    border: none;
}

.btn-primary:hover {
    background-color: #BC13FE;
}

.border-bottom {
    border-color: purple !important;
}







